{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1511818966892-d7d671e672a2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=871&q=80')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Architecture Blog</h1>
                            <span class="subheading">The most interesting information from the world of architecture</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% for post in all_post_html %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{ url_for('single_post', post_id=post['id']) }}">
                            <h2 class="post-title">{{ post["title"] }}</h2>
                            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        </a>
                        <p class="post-meta">
                            Source:
                            <a href="{{ post.source}}">{{ post.website}}</a>
                            <p class="post-meta">Date {{ post.date }}</p>
                        </p>
                    </div>

                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    <!-- Post preview-->

                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        
{% include "footer.html" %}


