{% include "header.html" %}
    
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{single_post_html.photo_bg }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ single_post_html.title }}</h1>
                            <h2 class="subheading">{{ single_post_html.subtitle }}</h2>
                            <span class="meta">
                                Source
                                <a href="{{ single_post_html.source}}">{{ single_post_html.website}}</a>
                                <p class="post-meta">Date {{ single_post_html.date }}</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">

                        
                        <h2 class="section-heading">{{ single_post_html.subtitle }}</h2>
                        <p>{{ single_post_html.body }}</p>
                        
                        <blockquote class="blockquote">{{ single_post_html.blockquote }}</blockquote>
                        
                        
                        <a href="#!"><img class="img-fluid" src="{{single_post_html.photo }}" alt="Burj Khalifa" /></a>
                        
                        <p>
                            Images from: 
                            <a href="https://www.unsplash.com/">Unsplash</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
    
{% include "footer.html" %}
